// .header {
  // display: flex;
  // justify-content: flex-end;
  // height: 70px;
  // background: #1071C9;
// }

.homepage {
  background-image: url("https://cdn.shutterstock.com/shutterstock/videos/9861461/thumb/1.jpg?i10c=img.resize(height:72)");
  background-size: cover;
  background-position: center;
  height: 600px;
}


div.login {
  // display: flex;
  // justify-content: flex-end;
  height: 70px;
  // background: #00A6FF;
  background: transparent;
}

// button {
  // display: flex;
  // -webkit-appearance: none;
  // background: transparent;
  // border: 1px solid black;
  // border-spacing: 0;
  // font-size: 16px;
  // text-decoration: none;
// }

button.signup {
  display: flex;
  background: transparent;
  padding: 8px 50px;
  font-size: inherit;
  border-radius: 5px;
  border-color: white;
}

.login-buttons button {
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  margin-right: 20px;
  margin-top: 20px;
  background: transparent;
  background-color: #1071C9;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  // border: 1px, solid, #ffffff;
}


form.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div.modal-welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 32px;
  text-shadow: 2px 2px black;
}

label.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  width: 100%
}

input.modal {
  width: 70%;
  height: 35px;
  font-size: 22px;
  padding-left: 15px;
}

div.modal-formtype {
  font-family: 'Titillium Web', sans-serif;
  text-shadow: none;
  font-size: 20px;
}

div.searchbar {
  position: fixed;
  top: 350px;
  right: 33%;
  border: 1px solid black;
  background: white;
  width: 30%;
}

nav.login-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
}
