.homepage {
  background-image: url("https://cdn.shutterstock.com/shutterstock/videos/9861461/thumb/1.jpg?i10c=img.resize(height:72)");
  background-size: cover;
  background-position: center;
  height: 600px;
}


div.login {
  height: 70px;
  background: transparent;
}

button.signup {
  display: flex;
  background: transparent;
  padding: 8px 50px;
  font-size: inherit;
  border-radius: 5px;
  border-color: white;
}

button.signup:hover {
  background-color: #00C8F8;
}

.login-buttons button {
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: #59C4C5;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.login-buttons button:hover {
  background-color: #00C8F8;
}


form.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div.modal-welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 32px;
  text-shadow: 2px 2px black;
}

label.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  width: 100%
}

input.modal {
  width: 70%;
  height: 35px;
  font-size: 22px;
  padding-left: 15px;
}

div.modal-formtype {
  font-family: 'Titillium Web', sans-serif;
  text-shadow: none;
  font-size: 20px;
}

form.home-search {
  position: relative;
  top: 40%;
  width: 600px;
  margin: auto;
  display: flex;
  font-weight: 800;
  font-size: 18px;
  color: rgba(47, 79, 79, 0.84);
  align-items: center;
  border-radius: 3px;
  background: white;
  padding-left: 10px;
}

.home-search button {
  flex: 0.25;
  height: 41px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #59C4C5;
  .fa-2x {
    font-size: 25px;
    color: white;
  }
}

input.home-search {
  font-size: 18px;
  height: 2.25em;
  border: 1px solid white;
  width: 50%;
  padding: 10px 15px;
  flex-grow: 1;
  outline: none;
}

nav.login-buttons {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: auto;
}
