.homepage {
  background-image: url("https://res.cloudinary.com/bbchui/image/upload/v1498774338/splash_prsfou.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
}


div.login {
  height: 70px;
  background: transparent;
}

button.login {
  background: #59C4C5;
  padding: 8px 0;
  font-size: inherit;
  border-radius: 3px;
  border: none ;
  width: 290px;
  color: white;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

button.login:hover {
  background-color: #48a4a5;
}

button.signup {
  background: #59C4C5;
  padding: 8px 0;
  font-size: inherit;
  border-radius: 3px;
  border: none ;
  width: 290px;
  color: white;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

button.signup:hover {
  background-color: #48a4a5;
}

.login-buttons button {
  padding: 7px 24px 8px;
  border-radius: 4px;
  margin: 20px 10px 10px 10px;
  background: transparent;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  border: 2px solid #fff;
  outline: none;
}

#login-buttons {
  padding: 7px 24px 8px;
  margin: 20px 10px 10px 10px;
  background: transparent;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  outline: none;
}

#login-buttons:hover {
  border-bottom: 2px solid #fff;
  border-radius: 0px;
}

.login-buttons button:hover {
  background: #fff;
  color: #666;
}


form.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div.modal-welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  color: black;
  font-size: 32px;
  // text-shadow: 2px 2px black;
}

strong.logo {
  font-size: 50px;
  padding-top: 10px
}

label.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  width: 100%
}

input.modal {
  width: 275px;
  height: 1.75em;
  font-size: 18px;
  color: #484848;
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

div.modal-formtype {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: -5px;
}

form.home-search {
  // position: relative;
  // top: 24%;
  width: 600px;
  margin: auto;
  display: flex;
  font-weight: 800;
  font-size: 18px;
  color: rgba(47, 79, 79, 0.84);
  align-items: center;
  border-radius: 3px;
  background: white;
  padding-left: 10px;
  align-items: center;
}

.home-search button {
  flex: 0.25;
  height: 42px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #389798;
  .fa-2x {
    font-size: 25px;
    color: white;
  }
}

.home-search button:hover {
  background: #246869;
}

div.home-search {
  position: relative;
  top: 22%;
}

input.home-search {
  font-size: 18px;
  height: 1em;
  border: 1px solid white;
  width: 50%;
  padding: 10px 15px 9px 5px;
  flex-grow: 1;
  outline: none;
}

nav.login-buttons {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: auto;
}

div.header-logo {
  width: 900px;
  margin: auto;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  position: relative;
  top: 20%;
  color: white;
  font-size: 25px;
  strong {
    font-size: 110px;
  }
}

.splash-buttons {
  display: flex;
  position: relative;
}

.button-image {
  width: 35px;
  height: 35px;
}

#profile-button {
  padding: 0;
  border: none;
  cursor: pointer;
  width: 45px;
  height: 36px;
  margin: 20px 0 10px 0;

}

#profile-button:hover {
  background-color: transparent;
  border-bottom: 1px solid white;
  border-radius: 0;
}

ul.dropdown {
  visibility: visible;
  position: absolute;
  top: 60px;
  // left: 110px;
  right: 0;
  display: flex;
  flex-direction: column;
  background: white;
  transition: transform 0.5s;
  z-index: 1;
  min-width: 136px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

ul.dropdown a.dropdown {
  background: white;
  font-size: 14px;
}

ul.dropdown a:hover {
  // background: GhostWhite;
  // background: red;
}

ul.dropdown.active {
  display: flex;
  visibility: visible;
  // transform: translate(0,0);

}

a.dropdown {
  text-decoration: none;
  color: #59C4C5;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

a.dropdown:hover {
  text-decoration: underline;
}

div.dropdown {
  display: flex;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;

  img {
    width: 40px;
    height: 40px;
    border-radius: 3px;
  }

  a {
    text-decoration: none;
    padding-left: 5px;
    color: #59C4C5;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }

  a:hover {
    text-decoration: underline;
  }

  span {
    font-size: 12px;
    padding: 2px 0 0 2px;
    .fa-lg {
      vertical-align: 0;
    }
  }

  div {
    display: flex;
    flex-direction: column;
  }
}
