.edit-user-photo {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: auto;
  font-size: 12px;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;

  a {
    text-decoration: none;
    color: #59C4C5;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
  }

  strong {
    margin-top: 8px;
    font-size: 20px;
    color: #48a4a5
  }
}

.photo-area {
  width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;

  img {
    height: 200px;
    width: 200px;
    border: none;
    padding-top: 10px;
  }
}

.update-picture {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    width: 110px;
    height: 30px;
    font-size: 11px;
    font-weight: bold;
    background: #59C4C5;
    color: white;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  }

  button:hover {
    background: #60cccd;
  }
}

div.photo-areas {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-top: 10px;
    width: 110px;
    height: 30px;
    font-size: 11px;
    font-weight: bold;
    background: #59C4C5;
    color: white;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  }

  button:hover {
    background: #60cccd;
  }
}

.user-dropzone {
  width: 100%;
  margin: auto;
  border: 2px dashed #BBB;
  border-radius: 5px;
  height: 200px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  span {
    font-size: 26px;
    font-weight: bold;
    padding-top: 25px;
  }

  div {
    width: 80%;
    text-align: center;
    line-height: 0.1em;
    border-bottom: 1px solid #ddd;

    span {
      padding-top: none;
      font-size: 12px;
      font-weight: normal;
      padding: 0 30px;
      background: white;
    }
  }

  button {
    margin-bottom: 25px;
    width: 120px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    background: #59C4C5;
    color: white;
    align-items: center;
    outline: none;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  }

  button:hover {
    background: #60cccd;
  }
}

.edit-photo-button {
  margin-left: 416px;
  margin-top: 45px;
  width: 110px;
  height: 30px;
  font-size: 11px;
  font-weight: bold;
  background: #59C4C5;
  color: white;
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.edit-photo-button:hover {
  background: #60cccd;
}
