.top-of-page {
  // display: flex;
  // justify-content: space-between;
  background-color: #59C4C5;
  // align-items: baseline;
  height: 65px;
  margin-bottom: 25px;
}

div.page-width {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: auto;
}
.search-bar {
  display: flex;
  align-items: center;

  a {
    padding-right: 15px;
  }
}

form.else-search {
  width: 500px;
  display: flex;
  align-items: center;
  background: white;
  font-weight: 800;
  font-size: 14px;
  color: #292626;
  padding-left: 10px;
  border-radius: 3px;
}

input.else-search {
  font-size: 14px;
  height: 1.75em;
  border: 1px solid white;
  width: 50%;
  padding: 0px 10px;
  flex-grow: 1;
  outline: none;
}

.else-search button {
  flex: 0.25;
  height: 33px;
  border: none;
  background-color: #389798;
  .fa-2x {
    font-size: 20px;
    color: white;
  }
}

.else-search button:hover {
  background: #246869;
}

div.index-map {
  display: flex;
  justify-content: space-between;
}

div.map {
  width: 200px;
  height: 300px;
  border: 1px solid black;
}

nav.other-login-buttons {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav.other-login-buttons > div {
  padding-top: 5px;
}

.other-login-buttons button {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px 10px 10px;
  background-color: #59C4C5;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.other-login-buttons button:hover {
  background-color: #00C8F8;
}

.search-results-header {
  padding-left: 40px;
}
