section.search-results-section {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

ul.search-results-list {
  display: flex;
  flex-direction: column;
}

li.gym-info-searched{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
  margin: 20px 0px;
  width: 575px;
  padding-bottom: 30px;
}

div.left-search {
  width: 300px;
  text-align: left;
}

div.right-search {
  width: 300px;
  text-align: left;
}

div.gym-index-info {
  font-size: 14px;
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: initial;
}

div.gym-index-info > div {
  display: flex;
  flex-direction: column;
}

img.searched {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  padding-right: 10px;
}

.searched-gym-name {
  font-weight: bold;
  color: #59C4C5;
  font-size: 18px;
  text-decoration: none;
}

.featured-gym-name:visited {
  color: #59C4C5;
}
