section.user-profile {
  width: 100%;
  margin: auto;
  padding-top: 25px;
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  height: 150px;
}

section.user-profile > div {
  width: 900px;
  margin: auto;
  display: flex;
}
img.user-profile {
  width: 190px;
  height: 190px;
  border-radius: 5px;
}

section.user-profile > div > div {
  display: flex;
  flex-direction: column;
}

.profile-name {
  padding-left: 50px;
  padding-top: 20px;
  font-size: 40px;
  font-family: 'Yrsa', serif;
  font-weight: bold;
}

span.profile-reviews {
  padding-left: 80px;
  padding-top: 6px;
}

section.profile-reviews {
  padding-top: 60px;
  width: 900px;
  margin: auto;
  display: flex;
}

div.username-profile {
  width: 215px;
}

div.profile-reviews-list {
  width: 685px;
  display: flex;
  flex-direction: column;
  margin-top: -41px;
}

ul.profile {
  width: 685px;
}

span.review-profile {
  font-size: 20px;
  font-weight: bold;
  color: #59C4C5;
  border-bottom: 1px solid #e3e3e3;
  width: 685px;
  padding-bottom: 20px;
}

li.profile {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 0;
}

.profile-review-image {
  width: 60px;
  height: 60px;
  border-radius: 3px;
}

div.picture-address {
  display: flex;
}

.profile-gym-name {
  text-decoration: none;
  color: #59C4C5;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 1px;
}

div.profile-review-info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-size: 12px;
}

div.profile-review-info > span {
  padding-bottom: 3px;
}

div.profile-review-body {
  font-size: 12px;
}

div.profile-review-comment {
  font-size: 12px
}

div.split-links {
  display: flex;
  justify-content: space-between;
}

.profile-review-edit {
  text-decoration: none;
  color: #59C4C5;
}
